<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personal Assistant</title>
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
    </head>
    <body>
        <div id="mainStrand">
            <h1>Dashboard</h1>

            <a href="/finances">Finances</a>
        </div>

        <script src="/dashboardPage/controller.js"></script>
        <script src="/dashboardPage/main.js"></script>
    </body>
</html>

