<template id="headComp">
    <div class="head">
        <h1></h1>

        <h2>Balance: $<span class="balance"></span></h2>

        <div class="strandSelector">
            <p class="homeSelector">All Transactions</p>

            <p class="categoriesSelector">Categories</p>
        </div>
    
        <script>
            (function(){
                let homeSelector = document.querySelector(".homeSelector");
                let categoriesSelector = document.querySelector(".categoriesSelector");

                document.querySelector(".head h1").innerText = `${user.username}'s account`;
                document.querySelector(".balance").innerText = user.account.balance.toFixed(2);

                if(controller.homeStrand.style.display !== "none"){
                    homeSelector.classList = "currentStrand";
                    categoriesSelector.classList = "strandChoice";

                    categoriesSelector.onclick = ()=>{categoriesObj.display();};
                }else if(controller.homeStrand.style.display !== "none"){
                    homeSelector.classList = "strandChoice";
                    categoriesSelector.classList = "currentStrand";

                    homeSelector.onclick = ()=>{homeObj.display();};
                }

                console.log(document.querySelector(".head").parentNode);
            }())
        </script>
    </div>
</template>