<!DOCTYPE html>
<html>
    <head>
        <title>Finances</title>
        <link rel="stylesheet" href="/financePage/finance.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div class="content">
            <div class="head">
                <h1>Account of <%=user.username%></h1>
                <h2>Balance: <span id="balance"><%=user.account.balance%></span></h2>
            </div>

            <form onsubmit="financePage.newTransaction()">
                <h3>New Transaction</h3>
                
                <label>Date
                    <input type="date" id="date" required>
                </label>

                <label>Category
                    <input type="text" id="category" required>
                </label>

                <label>Location
                    <input id="location" type="text">
                </label>

                <label>Note
                    <input type="text" id="note">
                </label>

                <label>Amount
                    <input id="amount" type="Number" step="0.01" required>
                </label>

                <input type="submit" value="Submit">
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <script>let user = <%- JSON.stringify(user) %>;</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/financePage/finance.js"></script>
    </body>
</html>