*{margin:0;padding:0;}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .head{
            margin-bottom: 25px;
        }

        form{
            display: flex;
            flex-direction: column;
            border: 3px solid #05befc;
            padding: 15px;
            margin: auto 25px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px black;
        }

            form label{
                margin: 10px;
            }

            form input{
                float: right;
            }