#homeStrand{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;
}

    #homeStrand > *{
        margin: 15px;
    }

    .head{
        margin-bottom: 25px;
    }

    .horizontal{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

        form{
            display: flex;
            flex-direction: column;
            border: 3px solid rgb(5, 190, 252);
            padding: 15px;
            margin: 25px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px black;
        }

            form label{
                margin: 10px;
            }

            form input{
                float: right;
            }

        table{
            border-collapse: collapse;
        }

            .transRow{
                cursor: pointer;
                transition: 0.5s;
            }

                .transRow:hover{
                    box-shadow: 0 0 50px black;
                    border-radius: 10px;
                }

            th:nth-of-type(even){
                color: white;
                background: rgba(0, 0, 0);
            }

            th:nth-of-type(odd){
                color: white;
                background: rgba(5, 190, 252);
            }

            th, td{
                padding: 10px;
                margin: 0;
            }

            tr:nth-of-type(even){
                background: rgba(5, 190, 252, 0.2);
            }

            tr:nth-of-type(odd){
                background: rgba(0, 0, 0, 0.075);
            }

#transactionStrand{
    display: none;
    flex-direction: column;
    align-items: center;
}

    .transactionInfo{
        display: flex;
        flex-direction: column;
    }

        .transactionInfo > *{
            margin: 15px;
        }

        .transactionInfo h4{
            color: rgb(5, 190, 252);
        }

            .transactionInfo h4 span{
                color: black;
            }

#categoriesStrand{
    display: none;
    flex-direction: column;
    align-items: center;
}

    #categoriesStrand > *{
        margin: 15px;
    }

    .newCategory{
        border: 2px solid rgb(5, 190, 252);
    }

    .tables{
        display: flex;
        justify-content: space-around;
    }

        .tables > *{
            margin: 10px;
        }

        .table{
            text-align: center;
        }

    .newCategory{
        display: none;
        flex-direction: column;
    }

    #newCategoryForm{
        display: none;
        flex-direction: column;
        border: none;
        box-shadow: none;
    }