<template id="headComp">
    <h1><%=user.username%>'s account</h1>

    <h2>Balance: $<span id="balance"><%=user.account.balance.toFixed(2)%></span></h2>

    <div class="strandSelector">
        <p id="homeSelector">All Transactions</p>

        <p id="categoriesSelector">Categories</p>
    </div>
</template>