<!DOCTYPE html>
<html>
    <head>
        <title>Personal Assistant</title>
        <link rel="stylesheet" href="/homePage/home.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <script src="/homePage/home.js"></script>
    </body>
</html>