<!DOCTYPE html>
<html>
    <head>
        <title>Personal Assistant</title>
        <link rel="stylesheet" href="/homePage/home.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="loginRegStrand">
            <div class="form" id="register">
                <h3>Register</h3>

                <label>Name:
                    <input id="nameReg" type="text" required>
                </label>

                <label>Email:
                    <input id="emailReg" type="email" required>
                </label>

                <label>Password:
                    <input id="passReg" type="password" required>
                </label>

                <label>Confirm password:
                    <input id="confirmPassReg" type="password" required>
                </label>

                <button onclick="loginRegObj.register()">Submit</button>
            </div>

            <div class="form" id="login">
                <h3>Login</h3>

                <label>Email:
                    <input id="emailLog" type="email" required>
                </label>

                <label>Password:
                    <input id="passLog" type="password" required>
                </label>

                <button onclick="loginRegObj.login()">Submit</button>
            </div>
        </div>

        <script>let error = <%- JSON.stringify(error) %>;</script>
        <script src="/shared/validation.js"></script>
        <script src="/homePage/controller.js"></script>
        <script src="/homePage/loginReg.js"></script>
    </body>
</html>